/* General */
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    font-family: 'Lato';
    
    overflow: hidden;
}

.hide-view {
    display: none;
}

/* Map */
#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Search */
#search img {
    position: absolute;
    top: 30px;
    left: 0px;
    
    padding: 3px 3px 3px 7px;
    background-color: #FFF;
    z-index: 9999;
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search img:hover {
    cursor: pointer;
}

#search input {
    width: 300px;
    height: 30px;
    
    position: absolute;
    top: 30px;
    left: -300px;
    
    padding: 3px 5px;
    border: none;
    outline: none;
    z-index: 9999;
    border-radius: 0;
}

#search #suggestions {
    width: 300px;
    
    position: absolute;
    top: 66px;
    
    background-color: #FFFFFF;
    
    z-index: 99999;
    padding: 3px 5px;
    
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    
    display: none;
}

#search #suggestions .item {
    padding: 3px 0;
}

#search #suggestions a {
    color: #34495e !important;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 0px;
    opacity: 0.7;
}

#search #suggestions a:hover {
    opacity: 1;
}

/* Tooltip */
.infoWindow {
    width: 230px;
	background-color: #FFFFFF;
	padding: 10px 15px;
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.infoWindow img {
    margin-top: 4px;
}

.infoWindow #details {
    margin-left: 15px;
    width: 165px;
    font-style: italic;
}

.infoWindow #details #name {
    font-weight: bold;
    font-style: normal;
}

.infoWindow #details a {
    color: #D95642;
    text-decoration: none;
}

.infoWindow #details a:hover {
    text-decoration: underline;
}

.tail {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #FFFFFF transparent transparent transparent;
    margin: auto;
}

/* List */
#list {
    position: absolute;
    top: 150px;
    left: -360px;
    
    width: 330px;
    height: 350px;
    
    background-color: #FFFFFF;
    padding: 15px;
    z-index: 99999;
    
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

#list #message {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 50%;

}

#list #container {
    position: relative;
}

#list #header {
    font-size: 11px;
}

#list #header #track-count #track-count-number {
    color: #D95642;
}

#list #tracks {
    
    height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    z-index: 99999;
}

#list #list-toggle {
    position: absolute;
    top: 160px;
    left: 360px;
    
    padding: 3px 3px 3px 7px;
    background-color: #FFF;
    z-index: 9999;
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#list #list-toggle:hover {
    cursor: pointer;
}

#list .track {
    padding: 15px 0 0 0;
    opacity: 0.8;
}

#list .track:hover {
    cursor: pointer;
    opacity: 1;
}

#list .track.selected {
    color: #D95642;
    opacity: 1;
}

#list .track .info {
    margin-left: 20px;
}

#list .track .info #name {
    font-size: 13px;
    font-weight: bold;
}

#list .track .info #track-parameters {
    font-size: 11px;
    font-style: italic;
    
    margin-top: 10px;
}

#list .track .info #track-parameters div {
    margin: 0 0 3px 0;
}

#list .track .info #track-parameters a {
    color: #D95642;
    text-decoration: none;
}

#list .track .info #track-parameters a:hover {
    text-decoration: underline;
}

#list .track .info #track-details {
    font-style: italic;
    font-size: 11px;
    color: #8CBFFF;
    margin-top: 10px;
}

#list .track .info #track-details:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Elevation profile */
#elevation-profile {
    width: 700px;
    height: 170px;
    
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -350px;
    
    z-index: 9999;
}

#elevation-profile #content {
    position: relative;
}

#elevation-profile #elvation-profile-toggle {
    position: absolute;
    top: -36px;
    left: 50%;
    margin-left: -17px;
    
    padding: 3px 3px 3px 7px;
    background-color: #FFF;
    z-index: 9999;
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#elevation-profile #elvation-profile-toggle:hover {
    cursor: pointer;
}

#elevation-profile svg {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}