#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#search img {
    position: absolute;
    top: 30px;
    left: -5px;
    
    padding: 3px 3px 3px 7px;
    background-color: #FFF;
    z-index: 9999;
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search img:hover {
    left: 0;
    cursor: pointer;
}

#search input {
    width: 250px;
    height: 30px;
    
    position: absolute;
    top: 30px;
    left: -258px;
    
    padding: 3px 5px;
    border: none;
    outline: none;
    z-index: 9999;
    border-radius: 2px;
    opacity: 0.9;
}