/* Map */
#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Search */
#search img {
    position: absolute;
    top: 30px;
    left: -5px;
    
    padding: 3px 3px 3px 7px;
    background-color: #FFF;
    z-index: 9999;
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search img:hover {
    left: 0;
    cursor: pointer;
}

#search input {
    width: 250px;
    height: 30px;
    
    position: absolute;
    top: 30px;
    left: -258px;
    
    padding: 3px 5px;
    border: none;
    outline: none;
    z-index: 9999;
    border-radius: 2px;
}

/* Tooltip */
.infoWindow {
    width: 200px;
    text-align: center;
	background-color: #FFFFFF;
	padding: 5px 15px;
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.tail {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #FFFFFF transparent transparent transparent;
    margin: auto;
}